// @import "./lookup.less";
// copy of osx dictionary app lookup ui

/*@bgc: RGBA(232, 228, 221, 1);*/
@bgc: RGBA(239, 239, 239, 1);
@haloword-width: 280px;
@haloword-padding: 10px;

#haloword-lookup {
  width: @haloword-width;
  margin-left: -0.5 * (@haloword-width + (2 * @haloword-padding));
  min-height: 100px;
  padding: @haloword-padding;
  transition: .1s;
  position: fixed;
  z-index: 2147483647 !important;
  top: 100px;
  left: 40%;

  // typo
  font-size: 12px;
  font-family: 'Baskerville', arial,sans-serif;
  border-radius: 5px;
  // font setting from Type Is Beautiful
  // font: normal 16px/1.70 "TIBch","Classic Grotesque W01","Helvetica Neue",Arial,"Hiragino Sans GB","STHeiti","Microsoft YaHei","WenQuanYi Micro Hei",SimSun,sans-serif;

  &:before {
    @trangle-size: 10px;

    content: ' ';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -1 * @trangle-size;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 @trangle-size @trangle-size @trangle-size;
    border-color: transparent transparent @bgc transparent;
  }

  &, &.before {
    color: RGBA(16, 16, 16, 1);
    background-color: @bgc;
    border-radius: 5px;
    border: 1px rgb(202, 202, 202);
    box-shadow: 0px 0px 22px 11px rgba(94, 94, 94, 0.3);
  }
}

#haloword-lookup.ui-draggable-dragging {
  transition: none;
}

#haloword-word {
  font-size: xx-large;
}

#haloword-title {
}

#halowrod-content {
  p {
    line-height: 12px;
  }
}
